body {
    padding: 35px 0;
}

.wrapper {
    width: calc(100% - 20px);
    margin: 0 auto;
    max-width: 1160px;
    min-width: 300px;
    min-height: 600px;
    
    pre {
        margin: 0;
        padding: 10px 20px;        
    }
    
    h2 {
        margin-top: 18px;
        padding-top: 24px;
        font-size: 22px;
    }
    
    p + h2 {
        margin-top: 0;
    }    
}

.topic-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    li {
        flex: 0 1 calc(25% - 40px);
        margin: 10px 15px;
        padding: 5px;
    }

    .image-wrapper {
        height: 165px;
        display: flex;
        align-items: center;
        padding-bottom: 10px;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}

.topic-link {
    border: 2px solid #313d4f;
    border-radius: 6px;
    padding: 10px;
    background: lighten(#273142, 10%);
    display: flex;
    text-align: center;

    & > div {
        margin: 0 auto;
    }
}

.topic-label {
    color: white;
    padding-bottom: 4px;
    border-bottom: 1px solid transparent;
}

.topic-link:hover {

    .topic-label {
        border-bottom: 1px solid white;
    }
}

.topic-header {
    margin-left: 0;
    padding-top: 12px;
    padding-left: 58px;
    padding-bottom: 15px;
    position: relative;
    border-bottom: 1px solid rgba(102, 119, 136, 0.2);

    img {
        position: absolute;
        top: 0;
        left: 0;
        height: 48px;
        width: 48px;
    }
}

.topic-page-list {
    list-style-type: none;

    li {
        padding-bottom: 20px;
    }

    a {
        font-size: 20px;
    }

    i {
        opacity: 0.7;
    }
}

.github-link {
    position: absolute;
    top: 12px;
    right: 15px;
    font-size: 18px;
    font-weight: normal;
    cursor: pointer;
}

.page-title {
    padding: 5px 0;
    position: relative;
}

.page-content {
    padding: 0 12px;

    p {
        margin-bottom: 15px;
    }

    h2 {
        white-space: nowrap;
        overflow: hidden;
        font-size: 20px;
        font-style: italic;
        margin-bottom: 10px;
        padding-top: 20px;
    }
    h2:first-child {
        padding-top: 0;
    }

    h2::after {
        margin-left: 20px;
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        height: 1px;
        background: linear-gradient(to right, rgba(116,95,181,0.2), transparent 95%);
    }
}

@media all and (max-width:380px) {
    .topic-list {
        display: block;

        li {
            flex-basis: calc(100% - 40px);
        }
    }
}

@media all and (max-width:699px) {
    body {
        padding: 10px 0;
    }

    .topic-list {
        li {
            flex-basis: calc(50% - 40px);
        }
    }

    .topic-page-list {
        padding-left: 5px;
    }

    .github-link {
        display: none;
    }
}
