---
layout: default
---

{% assign topic = site.data.topics[page.topic] %}

<a href="{{ '/' | append: page.topic | relative_url }}">(back up to {{ topic.label }})</a>

<h1 class="page-title">
    <i class="fas fa-angle-right"></i> {{topic.label}}/{{ page.title }}
    <a class="github-link" target="_blank" href="https://github.com/rod-o-walker/cheat-sheets/blob/master/topics/{{ page.permalink }}.md">
        <i class="far fa-edit"></i> edit page
    </a>
</h1>

<div class="page-content">
    {{ page.content | markdownify }}
</div>